<nav>
  <ul class="navbar">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/flights">ALL FLIGHTS</a>
    </li>
    <li>
      <a href="/flights/new">ADD FLIGHT</a>
    </li>
  </ul>
</nav>
