<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Mongoose Flights</title>
  </head>
  <body>
    <%- include('./partials/header.ejs');%>
    <h1>Flight Directory</h1>
    <img src="https://i.imgur.com/uNaUDVm.jpeg" alt="" />
  </body>
</html>
